tools/autobuild.json
*.iso
/glazier/*
/glazier-repo/Boot
/glazier-repo/*/config/*/*.exe
/glazier-repo/*/config/*/*.msu
unattend.xml
/glazier-repo/sync.sh
AutopilotConfigurationFile.json
/glazier
/glazier-repo/yappl/Boot
/glazier-repo/stable/config/VPN