<Configuration>
    <Add OfficeClientEdition="64" Channel="MonthlyEnterprise">
        <Product ID="O365ProPlusRetail">
            <Language ID="en-us" />
            <ExcludeApp ID="Groove" />
            <ExcludeApp ID="Lync" />
        </Product>
    </Add>
    <Updates Enabled="TRUE" Channel="MonthlyEnterprise" />
    <Display Level="Full" AcceptEULA="TRUE" />
</Configuration>